@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s linear;
    font-family: "Poppins", sans-serif;
}
html {
    font-size: calc(100vw * 16/360);
}
a {
    text-decoration: none !important;
    color: inherit !important;
}
.fz-container {
    max-width: 18.75rem;
    margin: 0 auto;
}
p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fz-green-text {
    color: #00354B;
}
/* Badge */
.fz-badge {
    width: 4.375rem;
    height: 4.375rem;
    position: relative;
    transform: rotate(-30deg);
}
div.fz-badge img {
    position: absolute;
    width: 100%;
    height: auto;
    transform: rotate(-64.46deg);
}
div.fz-badge p {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 0.938rem;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-30deg);
    position: absolute;
    inset: 0;
    margin: auto;
    height: fit-content;
}
/* -------------------------------BUTTON STYLES STARTS HERE------------------------------- */
.fz-blue-btn, .fz-white-btn, .fz-blue-line-btn, .fz-red-line-btn, .fz-black-line-btn, .fz-grey-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;    
    padding: 1rem 1.5rem;
    border-radius: 0.625rem;
    border: none;
}
button a {
    text-decoration: none;
    color: inherit;
}
.fz-blue-btn {
    color: #FFFFFF;
    background-color: #00354B;
}
.fz-white-btn {
    color: #000000;
    background-color: #FFFFFF;
}
.fz-blue-line-btn {
    border: 0.25rem solid #00354B;
    color: #000000;
    background-color: #FFFFFF;
}
.fz-red-line-btn {
    border: 0.25rem solid #BF1C1C;
    color: #BF1C1C;
    background-color: #FFFFFF;    
}
.fz-black-line-btn {
    border: 0.25rem solid #000000;
    color: #000000;
    background-color: #FFFFFF;      
}
.fz-grey-btn {
    background-color: #EBE8E8;
    color: #000000;
}
/* -------------------------------HEADER STYLES STARTS HERE------------------------------- */
.fz-header-main {
    position: relative;
    z-index: 9999;
}
.fz-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.938rem 0;
}
.fz-header-logo-wrap {
    width: 9.375rem;
    height: auto;
}
.fz-header-desk {
    display: none;
}
.fz-header-mob-items {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #00354B;
    left: 0;
    top: 0;
    z-index: 999;
    padding: 5rem 0;
    display: none;
}
.fz-header-mob-items nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 0.625rem;
    padding: 0;
    margin: 0;
}
.fz-header-mob-items nav ul li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #ffffff;    
}
.fz-header-mob-search {
    display: flex;
    background: #FFFFFF;
    border-radius: 16.438rem;
    overflow: hidden;
    margin-top: 1.875rem;
    padding: 0.625rem 0.938rem;
    align-items: center;
    gap: 0.938rem;
}
.fz-header-mob-search input {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    display: flex;
    align-items: center;
    width: 100%;
}
.fz-header-mob-search input::placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;    
}
.fz-header-mob-search svg {
    width: 1.75rem;
    height: 1.75rem;
}
.fz-header-toggle {
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.fz-header-toggle svg {
    color: #000000;
    width: 1.875rem;
    height: 1.875rem;
}
.fz-header-banner {
    background-color: #00354B;
    padding: 0.313rem 0;
}
.fz-header-banner p {
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}
nav ul li a {
    text-decoration: none;
    color: inherit;
}
/* -------------------------------FOOTER STYLES STARTS HERE------------------------------- */
.fz-footer-main {
    background-color: #8BB8BE;
}
.fz-footer-main {
    background-color: #8BB8BE;
    padding: 2.688rem 0;
}
.fz-footer-logo {
    width: 9.375rem;
    height: auto;
}
.fz-footer-main-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}
.fz-footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.fz-footer-links h4 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #000000;
    margin: 0;
}
.fz-footer-links p {
    color: #000000;
    margin: 0;
}
.fz-footer-main-wraps {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.fz-footer-socials {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.fz-footer-rows {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.fz-footer-row {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}
.fz-footer-row p {
    margin: 0;
}
.fz-footer-sub-wrap {
    padding: 1.875rem 0 0;
    margin-top: 1.875rem;
    border-top: 0.113rem solid #000000;
}
.fz-footer-sub-links {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.fz-footer-sub-links p {
    margin-bottom: 0;
}
.fz-footer-sub-items {
    text-align: left;
    margin-top: 1.875rem;
}
.fz-footer-icons {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-top: 0.625rem;
}
.fz-footer-icons-wrap h4 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #000000;
    margin: 0;   
}
.fz-footer-icons svg {
    width: 1.25rem;
    height: auto;
}
.fz-footer-row svg {
    width: 1.25rem;
    height: auto;   
}
.fz-footer-sub-links p span {
    display: none;
}
/* -------------------------------HOME CTA STYLES STARTS HERE------------------------------- */
.fz-home-cta-wrap {
    background: linear-gradient(8.44deg, #D0F7FB 8.73%, #C4F1FA 59.98%, #B3EDF8 93.78%);
    padding: 2.5rem 1.25rem;
    margin-bottom: 4.375rem;
    border-radius: 1.25rem;
}
.fz-home-cta-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}
.fz-home-cta-items p {
    color: #000000;
    margin-bottom: 0.938rem;
}
.fz-home-cta-items h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.625rem;
    color: #000000;
}
.fz-home-cta-wrap img {
    width: 100%;
    height: auto;
    border-radius: 1.25rem;
}
/* -------------------------------HOME CATEGORY STYLES STARTS HERE------------------------------- */
section.fz-home-category-grp {
    margin-bottom: 4.375rem;
}
.fz-home-category-title h2 {
    font-weight: 600;
    color: #000000;
    font-size: 1.75rem;
    line-height: 2.375rem;
    margin: 0;
}
.fz-home-category-title p {
    color: #000000;
    margin: 0;
}
section.fz-home-category-grp .fz-home-category-title p a {
    text-decoration: underline;
    display: block;
    white-space: nowrap;
}
.fz-home-category-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 1.875rem;
}
.fz-home-category-wrap {
    width: 8.438rem;
    height: 8.438rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fz-home-category-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.875rem;
}
.fz-home-category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.938rem;
}
.fz-home-category-wrap {
    background-color: #ffffff;
    box-shadow: 0 0 0.625rem 0 #00000040;
    border-radius: 50%;
    overflow: hidden;
}
.fz-home-category-wrap img {
    width: 6.25rem;
    height: 6.25rem;
}
.fz-home-category-item p {
    font-weight: 500;
    text-align: center;
    color: #000000;
}
/* -------------------------------HOME HERO STYLES STARTS HERE------------------------------- */
.fz-home-her-grp-items.blue {
    background: linear-gradient(90deg, #00354B 0%, #295162 84.82%, #2C5363 100%);
}
.fz-home-her-grp-items.orange {
    background: linear-gradient(90deg, #C47400 0%, #BE8736 100%);
}
section.fz-home-hero-grp {
    position: relative;
    margin-bottom: 4.375rem;
    margin-top: 1.875rem;
}
section.fz-home-hero-grp .fz-home-her-grp-items {
    padding: 2.5rem 1.25rem;
    border-radius: 1.25rem;
}
section.fz-home-hero-grp .carousel-control-next, section.fz-home-hero-grp .carousel-control-prev {
    display: none;
}
section.fz-home-hero-grp .carousel-indicators {
    gap: 0.875rem;
    bottom: 1.5rem;
    margin: 0;
    align-items: center;
}
section.fz-home-hero-grp .carousel-indicators [data-bs-target] {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    appearance: none;
    background-color: #FFFFFF;
    margin: 0;
    opacity: 0.5;
}
section.fz-home-hero-grp .carousel-indicators .active[data-bs-target]  {
    opacity: 1;
    width: 1rem;
    height: 1rem;
}
.fz-home-her-grp-text h1 {
    font-weight: 500;
    font-size: 1.688rem;
    line-height: 2.313rem;
    color: #FFFFFF;
    margin-bottom: 0.313rem;
}
.fz-home-her-grp-text p {
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 1.875rem;
}
section.fz-home-hero-grp img {
    width: 16.25rem;
    height: 13.313rem;
}
.carousel-item::before {
    content: '';
    position: absolute;
    background-image: url('imgs/SL-020520-27660-18\ 1.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    border-radius: 0 0 1.25rem 1.25rem;
    pointer-events: none;
}
/* -------------------------------HOME OFFER STYLES STARTS HERE------------------------------- */
.fz-home-offers-section {
    margin-bottom: 4.375rem;
}
.fz-home-offers-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.875rem;
}
.fz-home-offers-title h2 {
    font-weight: 600;
    color: #000000;
    font-size: 1.75rem;
    line-height: 2.375rem;
    margin: 0;
}
.fz-home-offers-buttons {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.625rem;
    align-items: center;
}
.fz-home-offers-button {
    width: 1.875rem;
    height: 1.875rem;
    box-shadow: 0 0 0.457rem 0 #00000040;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.fz-home-offers-button img {
    width: 1.25rem;
    height: 1.25rem;
}
.fz-home-offers-items {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.875rem;
}
.fz-product-card {
    width: 16.875rem;
    position: relative;
}
.fz-product-card .fz-badge {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
}
.fz-product-card figure {
    box-shadow: 0 0 1rem 0 #00000040;
    border-radius: 8.125rem 0 8.125rem 0;
    overflow: hidden;
    margin-bottom: 1.875rem;
    width: 16.875rem;
    height: 18.75rem;
    padding: 3.125rem;
}
.fz-product-card figure img {
    width: 10.625rem;
    height: auto;
}
.fz-product-card > p {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 0.375rem;
}
.fz-product-prize {
    display: flex;
    align-items: center;
    gap: 0.938rem;
    margin-bottom: 1.25rem;
}
.fz-product-prize > p {
    margin: 0;
}
.fz-product-prize-bold {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000000;
}
.fz-product-prize-cut {
    font-weight: 400;
    text-decoration-line: line-through;
    color: #595959;
}
.fz-product-card .fz-blue-btn {
    width: 100%;
}
/* -------------------------------HOME CRAFT STYLES STARTS HERE------------------------------- */
.fz-home-craft-section {
    margin-bottom: 4.375rem;
}
.fz-home-craft-section > p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: center;
    color: #000000;
    margin-bottom: 2.5rem;
}
.fz-home-craft-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.875rem;
}
.fz-home-craft-item {
    position: relative;
    width: 100%;
    height: 15.625rem;
    border-radius: 0.625rem;
    overflow: hidden;
}
.fz-home-craft-item::after {
    content: '';
    position: absolute;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
    height: 100%;
    z-index: 2;
    inset: 0;
    margin: auto;
}
.fz-home-craft-item h2 {
    position: absolute;
    font-weight: 700;
    font-size: 1.563rem;
    line-height: 2.188rem;
    text-align: center;
    color: #FFFFFF;
    left: 2.125rem;
    bottom: 0;
    transform: rotate(-90deg);
    transform-origin: left;
    z-index: 3;
}
.fz-home-craft-item img {
    object-position: bottom;
    width: 100%;
    height: 100%;
}
/* -------------------------------HOME CRAFT STYLES STARTS HERE------------------------------- */
.fz-home-card-grp {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.875rem;
    margin-bottom: 4.375rem;
}
.fz-home-card {
    background-color: #E7E7E7;
    border-radius: 1.25rem;
    overflow: hidden;
    padding: 1.875rem 1.875rem 0 1.875rem;
    position: relative;
}
.fz-home-card h2 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #000000;
    margin-bottom: 0.375rem;
}
.fz-home-card p {
    color: #000000;
    margin-bottom: 1.25rem;
}
.fz-home-card > img {
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 auto;
    display: block;
}
.fz-home-card:nth-child(3) .fz-badge {
    position: absolute;
    left: 1.25rem;
    top: 7.5rem;
}
/* -------------------------------HOME WHY STYLES STARTS HERE------------------------------- */
section.fz-home-why-section {
    box-shadow: 0 0 0.5rem 0 #00000040;
    border-radius: 1.25rem;
    padding: 1.875rem 1.25rem;
    margin-bottom: 4.375rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.875rem;
}
.fz-home-why-card {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.fz-home-why-card img {
    width: 3.75rem;
    height: 3.75rem;
    min-width: 3.75rem;
}
.fz-home-why-card h2 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000000;
    margin-bottom: 0.313rem;
}
.fz-home-why-card p {
    font-weight: 400;
    color: #000000;
    margin: 0;
}
/* -------------------------------PRODUCT ARCHIVE STYLES STARTS HERE------------------------------- */
.fz-pa-grid-wrap {
    margin-bottom: 4.375rem;
}
.fz-pa-grid-wrap .fz-blue-line-btn {
    margin: 0 auto;
    display: flex;
}
.fz-pa-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.875rem;
    justify-content: center;
    justify-items: center;
    margin-bottom: 4.375rem;
}
section.fz-pa-header {
    margin-top: 1.875rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    margin-bottom: 3.125rem;
}
.fz-pa-header-title h1 {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.5rem;
    margin-bottom: 0.625rem;
}
.fz-pa-header-breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.313rem;
}
.fz-pa-header-breadcrumb a, .fz-pa-header-breadcrumb span {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    color: rgba(0, 0, 0, 0.8);
}
.fz-pa-header-items {
    display: flex;
    justify-content: space-between;
    gap: 3.125rem;
}
.fz-pa-header-sort-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
}
.fz-pa-header-sort-items p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #000000;
    margin: 0;
}
.fz-pa-header-sort-items p:hover {
    color: #00354B;
    font-weight: 700;
}
.fz-pa-header-sort {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
}
.fz-pa-header-filter {
    border: 0.125rem solid #000000;
    height: fit-content;
    padding: 0.625rem 1.25rem;
    border-radius: 3.125rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
}
.fz-pa-header-filter p {
    margin: 0;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
}
.fz-pa-header-filter svg {
    width: 1.25rem;    
    height: 1.25rem;
}
.fz-pa-header-sort-title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #000000;
}
/* -------------------------------ABOUT STYLES STARTS HERE------------------------------- */
section.fx-about-hero-grp {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
    margin-top: 1.875rem;
    margin-bottom: 4.375rem;
}
.fx-about-hero-grp  .fz-pa-header-title {
    margin-bottom: 1.875rem;
}
.fx-about-hero-texts {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.fx-about-hero-texts p {
    margin: 0;
}
.fx-about-hero-imgs {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
}
.fx-about-hero-imgs img {
    width: 100%;
    height: 25rem;
}
.fx-about-hero-imgs img:first-child {
    border-radius: 8.352rem 0 8.352rem 0;
}
.fx-about-hero-imgs img:last-child {
    border-radius: 0 8.352rem 0 8.352rem;  
}
/* -------------------------------LOGIN STYLES STARTS HERE------------------------------- */
section.fz-login-wrap {
    margin: 6.25rem 1.875rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.875rem;
}
.fz-login-img-wrap {
    position: relative;
    width: 100%;
    height: 31.25rem;
    border-radius: 0 12.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}
.fz-login-wrap.login .fz-login-img-wrap {
    border-radius: 12.5rem 0 ;    
}
.fz-login-img-wrap img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    z-index: -2;
}
.fz-login-img-wrap::before {
    content: '';
    position: absolute;
    background: #000000B2;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    pointer-events: none;
    z-index: -1;
}
.fz-login-img-wrap h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}
.fz-login-img-wrap p {
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 12.5rem; 
}
.fz-login-items-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.fz-login-items-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fz-login-items-btn {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    border: 0.125rem solid #00354B;
    border-radius: 0.625rem;
    padding: 0.625rem 0.938rem;
}
.fz-login-items-btn p {
    font-weight: 500;
    text-align: center;
    color: #000000;
    margin: 0;
}
.fz-login-items-btn svg {
    width: 1.25rem;
    height: 1.25rem;    
}
.fz-login-items-or p {
font-weight: 400;
    text-align: center;
    color: #000000;
    position: relative;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    gap: 0.313rem;
    align-items: center;
}
.fz-login-items-or p::before, .fz-login-items-or p::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.0625rem;
    background-color: #000000;
    margin: 0;
}
.fz-login-items-form-boxs {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 0.938rem;
}
.fz-login-items-form-box {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    background-color: #D9D9D9;
    padding: 0.625rem 0.938rem;
    border-radius: 0.625rem;
}
.fz-login-items-form-box svg {
    width: 1.25rem;
    height: 1.25rem;    
}
.fz-login-items-form-box input {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.65);
}
.fz-login-items-form-box input::placeholder {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.65);    
}
.fz-login-items-checkbox {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 1.25rem;
}
.fz-login-items-checkbox input {
    width: 1.25rem;
    height: 1.25rem;
    border: 0.0625rem solid #000000;
    border-radius: 0.125rem;
}
.fz-login-items-checkbox p {
    margin: 0;
}
.fz-login-items-submit .fz-blue-btn {
    width: 100%;
}
.fz-login-redirect p {
    margin: 0;
}
.fz-login-redirect p a, .fz-login-items-checkbox p a {
    text-decoration: underline;
    color: #00354B;
}
.login .fz-login-items-checkbox {
    justify-content: flex-end;
}
/* -------------------------------SINGLE PRODUCT STYLES STARTS HERE------------------------------- */
.fz-sp-hero-wrap {
    margin-top: 1.875rem;
    margin-bottom: 4.375rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.875rem;
}
.fz-sp-hero-bc {
    margin-bottom: 1.875rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.313rem;
}
.fz-sp-hero-bc a, .fz-sp-hero-bc span {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}
.fz-sp-hero-figure {
    position: relative;
    margin-bottom: 1.25rem;
}
.fz-sp-hero-figure figure {
    margin: 0;
    width: 100%;
    height: auto;
}
.fz-sp-hero-thumbs {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.fz-sp-hero-thumbs img {
    width: 3.125rem;
    height: 3.125rem;
    border: 0.188rem solid #ffffff;
    border-radius: 0.481rem;
    box-shadow: 0 0 0.289rem 0 #00000040;
}
.fz-sp-hero-icons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.fz-sp-hero-icons div {
    box-shadow: 0 0 0.804rem 0 #00000040;
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.fz-sp-hero-icons svg {
    width: 1.25rem;
    height: 1.25rem;
}
.fz-sp-hero-btns {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
/* Infos */
.fz-sp-hero-infos h1 {
    font-weight: 600;
    font-size: 1.563rem;
    line-height: 2.188rem;
    color: #000000;
    margin-bottom: 0.625rem;
}
.fz-sp-hero-data {
    margin-bottom: 1.875rem;
}
.fz-sp-hero-data .fz-sp-hero-name {
    font-weight: 400;
    color: #000000;
    margin-bottom: 0.625rem;
}
.fz-sp-hero-rating {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
}
.fz-sp-hero-rating span {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #000000;
    margin-right: 0.313rem;
}
.fz-sp-hero-rating svg {
    width: 1.25rem;
    height: 1.25rem;   
    margin-right: 0.938rem; 
}
.fz-sp-hero-rating p {
    font-weight: 400;
    color: #515151;  
    margin-bottom: 0;
}
.fz-sp-hero-data .fz-sp-hero-warning {
    font-weight: 400;
    color: #E92020;
    margin-bottom: 1.25rem; 
}
.fz-sp-hero-prize {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
}
.fz-sp-hero-prize p {
    margin: 0;
}
.fz-sp-hero-prize-new {
    font-weight: 700;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: #000000;
}
.fz-sp-hero-prize-old {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.8);
}
.fz-sp-hero-prize-off {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #3BB94C;
}
.fz-sp-hero-add {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    border: 0.25rem solid #00354B;
    width: fit-content;
    padding: 0.625rem 0.938rem;
    border-radius: 0.625rem;
    cursor: pointer;
}
.fz-sp-hero-add p {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1;
    color: #000000;
    margin: 0;
}
.fz-sp-hero-infos h2 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000000;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
}
.fz-sp-hero-infos > p {
    margin: 0;
}
.fz-sp-hero-infos ul {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-bottom: 0;
    padding: 0;
}
.fz-sp-hero-infos ul li {
    list-style-type: none;
    position: relative;
    padding-left: 1.563rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
}
.fz-sp-hero-infos  ul li::before {
    content: '';
    position: absolute;
    background-image: url('imgs/ph_tag-fill.png');
    background-size: cover;
    width: 1.25rem;
    height: 1.25rem;
    left: 0;
    top: 0.25rem;
}
/* -------------------------------CART STYLES STARTS HERE------------------------------- */
section.fz-cart-hero-wrap {
    margin-top: 1.875rem;
    margin-bottom: 4.375rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.875rem;
}
.fz-cart-hero-items h1 {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.5rem;
    margin-bottom: 0.625rem;
    color: #000000; 
}
.fz-cart-hero-cards {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    margin-top: 2.5rem;
}
.fz-cart-hero-card {
    box-shadow: 0 0 0.375rem 0 #00000040;
    padding: 1.875rem 1.25rem;
    border-radius: 0.625rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
}
.fz-cart-hero-card figure {
    width: 9.375rem;
    height: auto;
    margin: 0;
}
.fz-cart-hero-card-info h2 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #000000;
    margin-bottom: 0.625rem;
}
.fz-cart-hero-card-info .fz-sp-hero-add {
    border: 0.188rem solid #000000;
    margin-bottom: 0.938rem;
    gap: 0.938rem;
    padding: 0.313rem 0.625rem;
    border-radius: 0.5rem;
}
.fz-cart-hero-card-info .fz-sp-hero-add p {
    font-size: 0.875rem;
}
.fz-cart-hero-card-info .fz-sp-hero-prize {
    margin-bottom: 0.938rem;
}
.fz-cart-hero-card-info .fz-sp-hero-prize-new {
    font-size: 1.25rem;
    line-height: 1.875rem;
}
.fz-cart-hero-card-info .fz-sp-hero-prize-old {
    font-size: 1.125rem;
    line-height: 1.875rem;
}
.fz-cart-hero-card-info .fz-sp-hero-prize-off {
    font-size: 1.125rem;
    line-height: 1.875rem;
}
.fz-cart-hero-card-btns {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
/* Checkout */
.fz-cart-hero-data-wrap {
    box-shadow: 0 0 0.625rem 0 #00000040;
    padding: 1.875rem 1.25rem;
    border-radius: 0.375rem;
    margin-bottom: 0.938rem;
}
.fz-cart-hero-data-wrap h2 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000000;
    margin-bottom: 1.25rem;
}
.fz-cart-hero-data-info {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-bottom: 1.25rem;
}
.fz-cart-hero-data-info > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fz-cart-hero-data-info > div p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #000000;
}
.fz-cart-hero-data-price {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #000000;
}
.fz-cart-hero-data-off {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
}
.fz-cart-hero-data-green {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #0FA641;
}
.fz-cart-hero-data-sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fz-cart-hero-data-sum p {
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000000;
}
.fz-cart-hero-data-sum span {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000000;
}
.fz-cart-hero-datas button {
    width: 100%;
    margin-bottom: 1.875rem;
}
.fz-cart-hero-datas > p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    color: #4D4D4D;
    margin: 0;
}
/* -------------------------------CART STYLES STARTS HERE------------------------------- */
section.fz-pm-wrap {
    margin-top: 1.875rem;
    margin-bottom: 4.375rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.875rem;
}
.fz-pm-wrap-left .fz-cart-hero-card {
    margin-bottom: 1.875rem;
}
.fz-pm-wrap-star {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
}
.fz-pm-wrap-star p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
    margin-right: 0.625rem;
}
.fz-pm-wrap-star svg {
    width: 1rem;
    height: auto;
}
.fz-pm-wrap-star span {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
    margin-right: 0.313rem;
}
.fz-pm-wrap-pd {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875rem;
}
.fz-pm-wrap-pd h1 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #221919;
    margin-bottom: 1.25rem;
}
.fz-pm-wrap-pd-tags {
    display: flex;
    gap: 0.625rem;
    flex-wrap: wrap;
}
.fz-pm-wrap-ad .fz-pm-wrap-ad-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.938rem;
}
.fz-pm-wrap-ad-title h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000000;
}
.fz-pm-wrap-ad-title span {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
}
.fz-pm-wrap-ad-data {
    box-shadow: 0 0 0.375rem 0 #00000040;
    padding: 1.25rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;    
}
.fz-pm-wrap-ad-data h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #000000;
    margin-bottom: 0;
}
.fz-pm-wrap-ad-data p {
    font-weight: 400;
    color: #000000;
    margin: 0;
}
/* Right */
.fz-pm-wrap-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.875rem;
}
.fz-pm-wrap-pi {
    box-shadow: 0 0 0.375rem 0 #00000040;
    padding: 1.25rem;
    border-radius: 0.625rem;
}
.fz-pm-wrap-pi h2 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 1.25rem;
    color: #000000;
}
.fz-pm-wrap-pi p {
    margin: 0;
}
.fz-pm-wrap-pi-info {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 0.0625rem solid #000000
}
.fz-pm-wrap-pi-info > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fz-pm-wrap-pi-info > div div {
    display: flex;
    align-items: center;
    gap: 0.313rem;
}
.fz-pm-wrap-pi-info p {
    font-weight: 500;
    color: #000000;
}
.fz-pm-wrap-pi-info span {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #000000;
}
.fz-pm-wrap-pi-info .fz-pm-wrap-pi-info-green {
    color: #166D22;
}
.fz-pm-wrap-pi-info-sub p {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #000000;
}
.fz-pm-wrap-pi-info-sub span {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.5rem;
    text-decoration-line: line-through;
    color: #515151;   
}
.fz-pm-wrap-pi-sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fz-pm-wrap-pi-sum p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
}
.fz-pm-wrap-pi-sum span {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;  
}
/* Payment */
.fz-pm-wrap-pm {
    box-shadow: 0 0 0.375rem 0 #00000040;
    padding: 1.25rem;
    border-radius: 0.625rem;
}
.fz-pm-wrap-pm h2 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 1.25rem;
    color: #000000;
}
.fz-pm-wrap-pm-datas {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-bottom: 1.25rem;
}
.fz-pm-wrap-pm-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fz-pm-wrap-pm-item > div {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}
.fz-pm-wrap-pm-item > div p {
    margin: 0;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: #000000;
}
.fz-pm-wrap-pm-item > div svg {
    width: 0.938rem;
    height: auto;
}
.fz-pm-wrap-pm-item input {
    width: 0.75rem;
    height: 0.75rem;
}
.fz-pm-wrap-pm button {
    width: 100%;
}
input[type="radio"] {
  accent-color: #00354B;  
}
/* POPUP */
.fz-pm-popup-wrap {
    position: fixed;
    inset: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1.25rem);
}
.fz-pm-popup {
    background: #ffffff;
    box-shadow: 0 0 0.375rem 0 #00000040;
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
}
.fz-pm-popup svg {
    width: 6.25rem;
    height: auto;
    margin-bottom: 0.875rem;
}
.fz-pm-popup h2 {
    font-weight: 700;
    font-size: 1.563rem;
    line-height: 2.188rem;
    color: #000000;
    margin-bottom: 0.625rem;
}
.fz-pm-popup p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #000000;    
}
.fz-pm-popup-btns {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

}
